@model RocketCourse.Models.User

<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Rocket</title>
    <link rel="stylesheet" href="~/Content/my/main.css">
</head>
<body>
    <section class="sec1">
        <header>
            <div class="titles_first">
                Курсы иностранных языков
            </div>
            <h1>
                Добро пожаловать
            </h1>
            <h1></h1>
            <a class="button" href="#contacts">Подробнее</a>
        </header>
    </section>

    <section class="">
        <div class="container">
            <h2>
                Для кого наши курсы?
            </h2>
            <div class="about">
                <div class="about_item clearfix">
                    <img src="~/Content/img/book.png" alt="">
                    <h3>Есть базовые знания</h3>
                    <p>
                        Вы будете обучаться по кембриджской методике, где акцент делается на общение, а не на конспектировании лекций
                    </p>
                </div>
                <div class="about_item clearfix">
                    <img src="~/Content/img/computer.png" alt="">
                    <h3>Студенты IT-специальностей</h3>
                    <p>
                        Интенсивная программа наших курсов дает возможность в первый месяц обучения, получить уровень знаний, требуемый для работы
                    </p>
                </div>
                <div class="about_item clearfix">
                    <img src="~/Content/img/plane.png" alt="">
                    <h3>Хотите уехать из страны</h3>
                    <p>
                        У нас организовываются выездные группы в англоговорящие страны, где можно совместить отдых и обучение, пообщаться с самими носителями языка
                    </p>
                </div>
            </div>
            <div class="about clearfix">
                <div class="about_item centerSideAboutItem ">
                    <img src="~/Content/img/dialog.png" alt="">
                    <h3>Есть языковой барьер</h3>
                    <p>
                        На наших курсах Вы полностью погружаетесь в языковую среду, где все общение проходит на английском языке
                    </p>
                </div>
                <div class="about_item centerSideAboutItem ">
                    <img src="~/Content/img/pen.png" alt="">
                    <h3>Готовитесь к экзаменам</h3>
                    <p>
                        Мы гарантируем положительный результат сдачи экзамена на необходимом Вам уровне
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="sec2">
        <div class="container clearfix">
            <h2 class="title">Быстрое прохождение этапов</h2>
            <img src="~/Content/img/clock.png" alt="" class="leftSideImg">
            <p class="rightSideText">
                В отличие от других школ мы не затягиваем прохождение этапов обучения, чтобы нельзя было перейти на уровень выше. Это обязывает Вас платить длительный промежуток времени за один уровень обучения.

                У нас Вы можете в любой момент времени перейти на 1 или 2 уровня выше, если считаете, что уже готовы изучать более сложный материал.
            </p>
        </div>
    </section>

    <section id="aboutUs">
        <div class="container">
            <h2 class="titleAfterBg">
                О нас
            </h2>
            <div class="about clearfix">
                <div class="about_item clearfix">
                    <img src="~/Content/img/dollar.png" alt="">
                    <h3>Работа в рассрочку</h3>
                    <p>
                        Предоставляем рассрочку на весь курс обучения. Первый платеж производится  после месяца обучения на курсах.
                    </p>
                </div>
                <div class="about_item clearfix">
                    <img src="~/Content/img/updown.png" alt="">
                    <h3>Несколько ступеней за семестр</h3>
                    <p>
                        На промежуточных срезах мы следим за вашей успеваемостью, и при успешных результатах вы можете в течение одного года освоить более 2-х уровней.
                    </p>
                </div>
                <div class="about_item clearfix">
                    <img src="~/Content/img/gift.png" alt="">
                    <h3>Дарим 14 дней обучения</h3>
                    <p>
                        Запишитесь на курс обучения — получите 2 недели занятий бесплатно.
                    </p>
                </div>
            </div>
            <div class="about clearfix">
                <div class="about_item clearfix">
                    <img src="~/Content/img/house.png" alt="">
                    <h3>контроль качества обучения</h3>
                    <p>
                        Наши преподаватели аттестованы в 20-ти  школах разных стран СНГ.
                    </p>
                </div>
                <div class="about_item clearfix">
                    <img src="~/Content/img/dialog2.png" alt="">
                    <h3>Начнете говорить быстро</h3>
                    <p>
                        Работаем по кембриджской технологии. Акцент делаем на разговорный английский, поэтому 80% времени вы будете практиковаться.
                    </p>
                </div>
                <div class="about_item clearfix">
                    <img src="~/Content/img/calendar.png" alt="">
                    <h3>Удобные условия обучения</h3>
                    <p>
                        1 группа от 3 до 12 человек. Занятия проходят 3 раза в день, позволяет выбрать наиболее подходящее время. Офис находится в центре города.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="sec3">
        <div class="container clearfix">
            <h2 class="title">Rocket - это школа с международным именем</h2>
            <img src="~/Content/img/schoolHall.png" alt="" class="rightSideImg">
            <p class="leftSideText">
                Rocket — это международная школа по изучению английского языка. Офисы школы находятся в 17 городах Беларуси и СНГ. Одновременно обучение проходит около 2300 учеников по всему миру.<br><br>
                Основой обучения английскому языку является кембриджская методика преподавания, позволяющая сделать акцент на разговорном аспекте языка и за кратчайшие сроки приобрести необходимые языковые навыки.<br /> Кембриджская методика преподавания впоследствии модернизируется под каждую страну, в которой преподается. У вас есть уникальная возможность стать большой частью семьи iSpeak.
            </p>
        </div>
    </section>

    <section id="offers">
        <div class="container clearfix">
            <h2 class="titleAfterBg typeBoardMarginTop">
                Наши услуги
            </h2>
            @*<div class="typeBoard  clearfix">
                <h1>Стандартное обучение</h1>
                <ul>
                    <li>
                        Занятия проводятся по 2 раза в неделю по 1.20ч
                    </li>
                    <li>
                        Изучение умеренными темпами
                    </li>
                    <li>
                        группы от 3 до 12 человек
                    </li>
                </ul>
                <div class="clearfix">
                    <img src="~/Content/img/levels.png" alt="">
                    <img src="~/Content/img/clock2.png" alt="">
                </div>
                <div class="clearfix">
                    <div class="typeBoardUl">
                        <p>Набор на разные уровни знаний:</p>
                        <ul>
                            <li>Beginner</li>
                            <li>Elementary</li>
                            <li>Pre-intermediate</li>
                            <li>Intermediate</li>
                            <li>Advanced</li>
                        </ul>
                    </div>
                    <div class="typeBoardUl">
                        <p>Группы:</p>
                        <ul>
                            <li>Вечерние</li>
                            <li>Утренние</li>
                            <li>Выходного дня</li>
                        </ul>
                    </div>
                </div>
                <a class="typeBoardButton" href="#">Узнать стоимость</a>
            </div>
            <div class="typeBoard typeBoardMargin clearfix">
                <h1>Индивидуальное обучение</h1>
                <ul>
                    <li>
                        Время обучения согласовывается индивидуально
                    </li>
                    <li>
                        Нет привязок к групповым занятиям
                    </li>
                    <li>
                        Акцент обучения делается на том, что интересно вам
                    </li>
                </ul>
                <div class="clearfix">
                    <img src="~/Content/img/levels.png" alt="">
                    <img src="~/Content/img/clock2.png" alt="">
                </div>
                <div class="clearfix">
                    <div class="typeBoardUl clearfix">
                        <p>Набор на разные уровни знаний:</p>
                        <ul>
                            <li>Beginner</li>
                            <li>Elementary</li>
                            <li>Pre-intermediate</li>
                            <li>Intermediate</li>
                            <li>Advanced</li>
                        </ul>
                    </div>
                    <div class="typeBoardUl clearfix">
                        <p>Группы:</p>
                        <ul>
                            <li>Вечерние</li>
                            <li>Утренние</li>
                            <li>Выходного дня</li>
                        </ul>
                    </div>
                </div>
                <a class="typeBoardButton" href="#">Узнать стоимость</a>
            </div>
            <div class="typeBoard clearfix">
                <h1>Интенсивный курс</h1>
                <ul>
                    <li>
                        Занятия проводятся от 3-х раз в неделю по 1.20ч
                    </li>
                    <li>
                        Быстрое изучение материала
                    </li>
                    <li>
                        группы от 3 до 12 человек
                    </li>
                </ul>
                <div class="clearfix">
                    <img src="~/Content/img/levels.png" alt="">
                    <img src="~/Content/img/clock2.png" alt="">
                </div>
                <div class="clearfix">
                    <div class="typeBoardUl">
                        <p>Набор на разные уровни знаний:</p>
                        <ul>
                            <li>Beginner</li>
                            <li>Elementary</li>
                            <li>Pre-intermediate</li>
                            <li>Intermediate</li>
                            <li>Advanced</li>
                        </ul>
                    </div>
                    <div class="typeBoardUl">
                        <p>Группы:</p>
                        <ul>
                            <li>Вечерние</li>
                            <li>Утренние</li>
                            <li>Выходного дня</li>
                        </ul>
                    </div>
                </div>
                <a class="typeBoardButton" href="#">Узнать стоимость</a>
            </div>
            <div class="typeBoard typeBoardMargin clearfix">
                <h1>Подготовка к экзаменам</h1>
                <ul>
                    <li>
                        Гарантия сдачи экзамена
                    </li>
                    <li>
                        Гарантия результата на необходимом для вас уровне
                    </li>
                    <li>
                        Курс разрабатывается индивидуально под вас
                    </li>
                </ul>
                <div class="clearfix">
                    <img src="~/Content/img/levels.png" alt="">
                    <img src="~/Content/img/clock2.png" alt="">
                </div>
                <div class="clearfix">
                    <div class="typeBoardUl clearfix">
                        <p>Набор на разные уровни знаний:</p>
                        <ul>
                            <li>Beginner</li>
                            <li>Elementary</li>
                            <li>Pre-intermediate</li>
                            <li>Intermediate</li>
                            <li>Advanced</li>
                        </ul>
                    </div>
                    <div class="typeBoardUl clearfix">
                        <p>Группы:</p>
                        <ul>
                            <li>Вечерние</li>
                            <li>Утренние</li>
                            <li>Выходного дня</li>
                        </ul>
                    </div>
                </div>
                <a class="typeBoardButton" href="#">Узнать стоимость</a>
            </div>*@
        </div>
    </section>

    <section>
        <div class=" container clearfix">
            @for (int i = 0; i < ViewBag.coursesNameList.Count; i += 2)
            {
                <div class="typeBoard clifrfix">
                    <h1>@ViewBag.coursesNameList[i]</h1>
                    <ul>
                        <li>
                            Гарантия сдачи экзамена
                        </li>
                        <li>
                            Гарантия результата на необходимом для вас уровне
                        </li>
                        <li>
                            Курс разрабатывается индивидуально под вас
                        </li>
                    </ul>
                    <div class="clearfix">
                        <img src="~/Content/img/levels.png" alt="">
                        <img src="~/Content/img/clock2.png" alt="">
                    </div>
                    <div class="clearfix">
                        <div class="typeBoardUl clearfix">
                            <p>Набор на разные уровни знаний:</p>
                            <ul>
                                <li>Beginner</li>
                                <li>Elementary</li>
                                <li>Pre-intermediate</li>
                                <li>Intermediate</li>
                                <li>Advanced</li>
                            </ul>
                        </div>
                        <div class="typeBoardUl clearfix">
                            <p>Группы:</p>
                            <ul>
                                <li>Вечерние</li>
                                <li>Утренние</li>
                                <li>Выходного дня</li>
                            </ul>
                        </div>
                    </div>
                    <a class="typeBoardButton" href="/Home/OrderCourse?CourseName=@ViewBag.coursesNameList[i]">Записаться на курс</a>
                </div>
                if (ViewBag.coursesNameList.Count - i >= 2)
                {
                <div class="typeBoard typeBoardMargin clifrfix">
                    <h1>@ViewBag.coursesNameList[i + 1]</h1>
                    <ul>
                        <li>
                            Гарантия сдачи экзамена
                        </li>
                        <li>
                            Гарантия результата на необходимом для вас уровне
                        </li>
                        <li>
                            Курс разрабатывается индивидуально под вас
                        </li>
                    </ul>
                    <div class="clearfix">
                        <img src="~/Content/img/levels.png" alt="">
                        <img src="~/Content/img/clock2.png" alt="">
                    </div>
                    <div class="clearfix">
                        <div class="typeBoardUl clearfix">
                            <p>Набор на разные уровни знаний:</p>
                            <ul>
                                <li>Beginner</li>
                                <li>Elementary</li>
                                <li>Pre-intermediate</li>
                                <li>Intermediate</li>
                                <li>Advanced</li>
                            </ul>
                        </div>
                        <div class="typeBoardUl clearfix">
                            <p>Группы:</p>
                            <ul>
                                <li>Вечерние</li>
                                <li>Утренние</li>
                                <li>Выходного дня</li>
                            </ul>
                        </div>
                    </div>
                    <a class="typeBoardButton" id="courseName" name="courseName" href="/Home/OrderCourse?CourseName=@ViewBag.coursesNameList[i+1]">Записаться на курс</a>
                </div>
                }

            }
        </div>
    </section>

    <section id="contacts" class="sec4">
        <div class="container clearfix preFooter">
            <h2 class="title typeBoardBottom0">
                Контакты</h1>
                <p class="leftSideText">
                    г. Минск, ул. Немига 10, 2 этаж<br>

                    с 9:00 до 20:00 без выходных<br>

                    +375(25) 751-35-55 <br>

                    Email: ksenkong@mail.ru <br>
                </p>
        </div>
    </section>

</body>
</html>
