<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>impressorr-001-site1.itempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://impressorr-001-site1.itempurl.com:8172/MsDeploy.axd?site=impressorr-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>impressorr-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\impressorr-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CourseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=sql6005.site4now.net;Initial Catalog=DB_A3F914_coursedb;Persist Security Info=True;User ID=DB_A3F914_coursedb_admin;Password=zaq123456" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RocketCourse.Models.CourseContext, RocketCourse" MigrationConfiguration="RocketCourse.Migrations.Configuration, RocketCourse" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CourseContext-Web.config Connection String">
      <ParameterValue>Data Source=sql6005.site4now.net;Initial Catalog=DB_A3F914_coursedb;Persist Security Info=True;User ID=DB_A3F914_coursedb_admin;Password=zaq123456</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>